<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.ExcelMapper">
    <resultMap id="BaseResultMap" type="com.qfedu.vo.ExcelVo">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="username" jdbcType="VARCHAR" property="username" />
            <result column="password" jdbcType="VARCHAR" property="password" />
            <result column="flag" jdbcType="INTEGER" property="flag" />
        <result column="departmentname" property="departmentName"/>
    </resultMap>


    <insert id="insertUsers" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(id,username,password,flag) values
        <foreach collection="list" item="user" separator=",">
            (#{user.id},#{user.username},#{user.password},#{user.flag})
        </foreach>
    </insert>

    <insert id="insertDeps" parameterType="list"  useGeneratedKeys="true" keyProperty="id">
        insert into t_department values
        <foreach collection="list" item="dep" separator=",">
            (null, #{dep.name},#{dep.info},0,now(),#{dep.level})
        </foreach>
    </insert>

    <insert id="insertUserDeps" parameterType="list">
        insert into t_userdepartment values
        <foreach collection="list" item="userdep" separator=",">
            (null,#{userdep.uid},#{userdep.did},now())
        </foreach>
    </insert>

    <select id="selectExcel" resultMap="BaseResultMap">
        SELECT u.id,u.username,u.password,u.flag,d.name departmentname
        FROM t_department d
        LEFT JOIN t_userdepartment ud ON d.id=ud.did
        LEFT JOIN t_user u ON u.id=ud.uid
    </select>


    <select id="selectByDepartName" resultType="com.qfedu.pojo.Department">
        select * from t_department d where d.name = #{departmentName}
    </select>

</mapper>